
html,body{
    width: 100%;
    height: 100%;
}
.main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}
.logo-ran{
    width: 1.90667rem;
    height: 1.73333rem;
    margin-top: 1.6rem;
    background-size: 14.56rem 4.64rem;
    text-indent: -133.32rem;
    background-image: url(https://wqs.jd.com/promote/201707/2018campus/img/sprite.other_5adc1e.png);
    background-position: -3.02667rem 0;
}
.logo-ran,.text-slogon {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -133.32rem;
    margin-left: .85333rem;
  }
  .cube-2, .cube-3 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12.26667rem;
    margin-right: 2.66667rem;
    width: 5.33333rem;
    height: 1.2rem;
  }
